

.bouton-realisation{
  background: linear-gradient(180deg, #62BDFC 0%, #8490FF 100%);
  color: var(--color-white);
  padding: 12px 29px;
  text-transform: uppercase;
  text-decoration: none;
 &:link{
   color: var(--color-white);
 }
  &:visited{
    color: var(--color-white);
  }
  &:hover{
    color: var(--color-white);
  }
  &:active{
    color: var(--color-white);
  }
}